<app-menu></app-menu>
<div class="panel panel-primary">
    <div class="panel-heading">
        <br>
        <h4> Liste des voitures</h4>
        <br>


    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>Modèle</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voiture of voitures | async">
                    <td>{{voiture.marque}}</td>
                    <td>{{voiture.modele}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>